

.BusinessCard-StarsContainer {
  font-family: 'Merriweather';
  display: flex;
  justify-content: space-between;
  margin-top: .4em;
}

.BusinessCard-CardBody {
  padding: .5rem;
}

.BusinessCard-CatContainer {
  display: flex;
  justify-content: flex-start;
}

.text-muted {
  font-size: .7em;
}

.BusinessCard-Img {
  max-width: 20rem;
  max-height: 14rem;
  width: auto;
  height: auto;
}

.BusinessCard-Logo {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
}