.Reviews {
  padding: 1em;
  line-height: 1.5;
}

.Reviews-ProfileImg:hover {
  cursor: pointer
}

.Reviews h1 {
  margin-bottom: .5em;
}

.Reviews-Img {
  margin-bottom: .5em;
}

.Reviews-Name {
  display: flex;
  justify-content: space-between;
  margin-right: 1.8em;
}

.Reviews-P:hover {
  cursor: pointer;
}

.media-body p {
  margin-right: 1em;
}

@media only screen and (max-width: 414px) {
  .Reviews {
    margin: auto 2rem;
  }

  .Reviews-ProfileImg {
    display: none;
  }

  .Reviews h1 {
    text-align: center;
  }
}