.card {
 margin: 10px 15px;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.MainPage-Header {
  background-image: url("/images/sushigrey.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: center;
  height: 25rem;
}
