.card {
 margin: 10px 15px;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.MainPage-Header {
  font-family: 'Merriweather';
  background-image: url("/images/sushi.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: center;
  height: 25rem;
}

.MainPage-Load {
  height: 20vh;
  margin-top: 3rem;
}

@media only screen and (max-width: 414px) {
  .MainPage-Header {
    display: none;
  }

  .MainPage-Load {
    height: 50vh;
  }
}

@media only screen and (max-width: 575px) {
  .MainPage-Header {
    display: none;
  }
}