.SearchBar {
  font-family: 'Merriweather';
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.SearchBar-Input {
  margin-right: 1rem;
  vertical-align: middle;
  height: 2.2rem;
  width: 10rem;
  border-radius: 5px;
  font-size: .9em;
  padding: .4em;
}

.SearchBar-Flex {
  margin-bottom: 1rem;
  margin-top: 2rem;
  display: flex;
  
}

.SearchBar-Filters {
  display: flex;
  margin-bottom: .5rem;
}

.SearchBar-FilterBtn:hover {
  display: inline;
  color: red;
}

.SearchBar-Btn {
  margin-right: 1rem;
}

.btn-round-xs{
  border-radius: 11px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: .7em;
  margin: 0 .4em;
  }

.btn-round-xs:hover+.fa-trash-alt {
  visibility: visible;
}

.btn-round-xs:focus {
    outline: 0
  }

.fa-trash-alt {
  font-size: .7em;
  color: #D32322;
  visibility: hidden;
  margin: 0 .1em;
}