.SearchBar {
  font-family: 'Merriweather';
  font-weight: bold;
  text-align: center;
  /* margin-bottom: 2rem; */
  display: flex;
  justify-content: center;
  /* height: 25rem; */
  align-items: center;
  flex-direction: column;
}

.SearchBar-Input {
  margin-right: 1rem;
  vertical-align: middle;
  height: 2.2rem;
  width: 10rem;
  border-radius: 5px;
  font-size: .9em;
  padding: .4em;
}

.SearchBar-Flex {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.SearchBar-Filters {
  margin-bottom: .5rem;
}

.SearchBar-Btn {
  margin-right: 1rem;
}

.btn-round-xs{
  border-radius: 11px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: .7em;
  margin: 0 .5em;
  }
  
  .btn-round-xs:focus {
    outline: 0
  }