.LoadPage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.LoadPageShow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

@media only screen and (max-width: 414px) {
  .LoadPage {
    height: 40vh;
  }
} 