body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Merriweather", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  color: black;
  text-decoration: none;
}

*:focus {
  outline: none;
}

.fa-map-marker-alt {
  color: #D32323;
  margin-right: .5rem;
}
